<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" 
id="com.beldi.recipy" version="1.0.0">
  <name>Recipy</name>
  <description></description>
   <author email="juaan.beldi@hotmail.com" href="http://schedular.atwebpages.com">Juan Beldi</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name='pgb-builder-version' value='2' />
 
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/> 
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
  
  <icon src ="icon.png"/>
  <splash src ="splash.png" />
  
   <access origin="*"/>
   <allow-navigation href="http://schedular.atwebpages.com/*" />
   <allow-navigation href="*://*.schedular.atwebpages.com/*" />
   <allow-navigation href="*" />
  
  <allow-intent href="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>